* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}

body {
    margin: 0;
}

.cadastro {
    background-image: url("../assets/background.png");
    width: 100%;
    height: 700px;
    background-size: 100%;

}

.header {
    height: 60px;
}

.header .container img {
    width: 90px;
    height: auto;
    padding-top: 1%;
    padding-left: 5%;
}



/* CONTAINER CADASTRO */

.container-cadastro {

    display: flex;
    justify-content: center;
    /*max-width: 100%;*/
    align-items: center;
    min-height: center; /* Garante que ocupe toda a altura da tela */
    padding: 20px;
    color: aliceblue;
    height: auto;
    /*width: 60%;*/

}

.card {

    background-color: rgba(42, 17, 16, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    line-height: 12px;

}

.card .card-campo{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 35px;
 
}

.card h2 {
    display: flex;
    align-items: center;
    padding-left: 36%;
    color: #f7f4d9;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.8;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DCAB20;
    width: 135px;
    height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    opacity: 100%;
}



/* FOOTER */

.footer {
    display: flex;
}

