
body{
  margin: 0;
}

.home{
  background: linear-gradient(to right,rgba(20, 8, 2, 0.951),rgba(20, 8, 2, 0.945), rgba(22, 6, 2, 0.892), rgba(0, 0, 1, 0.84), rgba(0, 0, 0, 0.321), rgba(0, 0, 1, 0.425), rgba(0, 0, 0, 0)), 
  url(../assets/Leonardo_Phoenix_10_A_rustic_craft_brewery_with_stainless_stee_2\ 1.png);
  width: 100%;
  height: 700px;  
  background-repeat: no-repeat;
  background-size:  100% 100%; 

}



.header{
  width: 100%;
  height: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0)); /* Gradiente corrigido */
}

.header .container img{
  width: 90px; 
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 55%;
  list-style: none;
  
}
.navbar li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  
}

.header .container .navbar a{
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
}
.menu-center {
  display: flex;
  justify-content: center; 
}

.menu-right {
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
  align-items: center;
}

#home{
  font-weight: 700;
}

#login{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #110f0f;
  background-color: #ffffff;
  border-radius: 7px;
  height: 28px;
  width: 80px;
  border: #DCAB20 solid 3px;
}

#cadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #DCAB20;
  border-radius: 7px;
  height: 28px;
  width: 80px;
  border: #DCAB20 solid 3px;
}















/*Banner*/
.banner {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
  padding-top: 7%;
  padding-left: 4%;


}

.banner h1{
  color:#FFFACC;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.2  ;
}
.banner p{
  color: rgb(255, 255, 255);
  width: 85%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

button{
  margin-top: 35px;
  background-color:#DCAB20;
  width: 135px;
  height: 36px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #2A1110;
}























/*Sobre Nós*/
section .sobre{
  display: flex;
  justify-content: center;
  align-items: center;
}


.sobre .container{
  flex-direction: column;
  color: #ffffff;
  margin-left: 100px;
}

.sobre .container h1{
  align-self: flex-start;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}

.sobre .container p{
  
  width: 80%;
  font-size: 20px;
}



/*Sessão Problema*/
.problema {
  display: flex;
  height: 100%;
}

.imagem-lateral {
  width: 50%;
}

.imagem-lateral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.conteudo-texto {
  flex: 1;
  padding: 80px 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo-texto h2 {
  color: #2D2F25;
  margin-bottom: 20px;
  border-bottom: 4px solid #DCAB20;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 64px;
  font-weight: 700;
}

.conteudo-texto p {
  line-height: 1.6;
  color: #000000;
  max-width: 600px;
  font-size: 20px;
  font-weight: 400;
}

/*Sessão Heroi*/
.heroi {
  background-color: #2c0e0c;
  color: white;
  padding: 60px 40px;
  text-align: center;
}

.heroi-texto h3 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}

.heroi-texto h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 10px 0;
  border-bottom: 3px solid #c9a14a;
  display: inline-block;
  padding-bottom: 8px;
}

.heroi-texto p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.cards-beneficios {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 100px 40px 60px;
  position: relative;
  
  z-index: 1;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 60px 30px 30px;
  max-width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
}

.icone-topo {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-topo img {
  width: 50%;
  height: auto;
}

.card h4 {
  font-size: 1.2rem;
  color: #2c0e0c;
  font-weight: bold;
  margin: 20px 0 10px;
}

.card p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
}

/* Contato*/
.contato {
  background-color: #2c2d27;
  padding: 60px 40px;
  color: white;
}

.contato h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  border-bottom: 3px solid #c9a14a;
  display: inline-block;
  padding-bottom: 5px;
}

.formulario {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linha {
  display: flex;
  gap: 20px;
}

.formulario input,
.formulario textarea {
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  resize: none;
}

.formulario button {
  background-color: #c9a14a;
  color: #000;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover {
  background-color: #b68d38;
}