html,
body {
    height: 100%;
}

.dashboard {
    height: 100%;
    display: flex;
    background-color: rgb(94, 8, 8);
}

/*HEADER*/
.sidebar {
    background-color: rgb(65, 30, 0);
    width: 254px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

.sidebar .logotipo {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 13px;
    margin-bottom: 60px;
    border-bottom: 3.5px solid white;
}

.logotipo img {
    height: 100%;
}

/* .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.profile .circle-profile {
    background-color: transparent;
    padding: 5px;
    border: 3.5px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.circle-profile .profile-img {
    height: 100%;
}

.profile h3 {
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-weight: 500;
    margin: 4px;
}

.profile p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
} */

.buttons-navegation {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.container-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigation-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid transparent;
    transition: transform 0.3s ease;
}

.navigation-item i {
    font-size: 18px;
}

.navigation-item p {
    font-weight: 500;
    font-size: 16px;
}

.navigation-item.active {
    background-color: #613400;
    border-left: 5px solid rgb(176, 147, 0);

}

.navigation-item:hover {
    background-color: #613400;
    border-left: 5px solid rgb(176, 147, 0);
    transform: scale(1.03);
}


/*DASHBOARD - HOME*/
.container-dashboard {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px 0px 0px 12px;
    padding: 30px;
    padding-top: 0;
}

/*DASHBOARD - HEADER*/
.container-dashboard .header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid rgb(214, 214, 214);
    gap: 50px;
    margin-bottom: 20px;
}

.container-dashboard .container-searchBarGroup {
    display: flex;
    height: 100%;
    align-items: center;
}

.container-searchBarGroup i {
    font-size: 23px;
    margin: 0 10px;
    color: gray;
}

.container-searchBarGroup h3 {
    font-size: 23px;
    margin: 0 10px;
    font-weight: 600;
}

/* 
.container-searchBarGroup .container-search {
    width: 400px;
    background-color: rgb(219, 219, 219);
    margin: 0 20px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 1px 2px;
}

.container-search i {
    font-size: 16px;
    margin: 10px;
}

.container-search input{
    height: 27px;
    flex: 1;
    padding: 0 10px;
    border: none;
    border-radius: 0px 6px 6px 0px;
    font-weight: 500;
} */

.container-dashboard .container-actions {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.container-theme-dark-light {
    width: 75px;
    height: 26px;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid rgb(173, 173, 173);
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    transform: scale(0.8);
}

.container-theme-dark-light img {
    height: 94%;
    background-color: white;
    border-radius: 50%;
    margin-left: 2px;
}

.container-actions i {
    font-size: 18px;
    margin: 0 10px;
}

.container-actions span {
    font-size: 23px;
    margin: 0 10px;
}

.container-mini-profile {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-mini-profile img {
    height: 100%;
}

.container-mini-profile p {
    font-weight: 500;
}

/* DASHBOARD - INFO */
.container-info-fermenter {
    display: flex;
    flex: 1;
    margin-top: 10px;
}

.container-info-fermenter .info {
    width: 840px;
    display: flex;
    flex-direction: column;
}

.title-info {
    font-size: 24px;
    font-weight: 500;
}

.kpis {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    gap: 20px;
}

.kpi {
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    max-height: 108px;
    border: 1px solid rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.kpi.temp {
    border: 1px solid rgb(142, 128, 80);
    background-color: rgb(255, 249, 236);
}

.kpi.fermen {
    border: 1px solid rgb(72, 128, 137);
    background-color: rgb(238, 255, 253);
}

.kpi canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

.kpi h3 {
    font-size: 17px;
    font-weight: 600;
}

.container-data {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 10px;
}

.container-data .data-kpi {
    font-size: 35px;
    font-weight: 650;
    color: black;
}

.container-data .description {
    font-weight: 400;
    font-size: 14px;
}

.datatime-update {
    font-size: 16px;
    color: rgb(161, 161, 161);
    font-weight: 500;
    margin: 10px 0px;
}

.graphics {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.graphics .info-graphic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-graphic h3 {
    font-weight: 500;
    font-size: 23px;
}

.info-graphic .filter-ipa-pilsen {
    display: flex;
    gap: 10px;
}

.filter-ipa-pilsen button {
    padding: 5px 20px;
    width: 80px;
    font-weight: 800;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
}

.filter-ipa-pilsen button.check {
    background-color: rgb(130, 113, 28);
    color: white;
    border-color: #3b2000;
}


.container-info-fermenter .notifications {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
}

.notifications .container-alert {
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    background-color: #fff8f8;
    overflow: hidden;
}

.container-alert .alert {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.alert-indicator {
    width: 20px;
    height: 100%;
    background-color: #cc0000;
}

.alert img {
    height: 70%;
    margin-left: 10px;
    border-radius: 6px;
}

.alert .info-alert {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
}

.info-alert h3 {
    font-size: 18px;
    font-weight: 700;
    color: #cc0000;
}

.info-alert p {
    font-size: 15px;
    text-align: justify;
    color: #333;
    font-weight: 500;
}

.alert-danger {
    font-weight: bold;
    color: rgb(128, 0, 0);
}


/* NOTIFICAÇÕES E HISTORY */
.container-notification-history {
    margin-top: 18px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #d9cfc5;
    background-color: #fdfaf7;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.info-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f3ede8;
    border-bottom: 1px solid #d6c7bc;
    border-radius: 10px 10px 0 0;
}

.info-history h4 {
    font-weight: 600;
    font-size: 17px;
    color: #5c4334;
}

.info-history p {
    font-size: 14px;
    font-weight: 700;
    color: #47240c;
}

.container-history {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
}

.container-history .history {
    background-color: #fffdfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #b5a28e;
}

.history img {
    height: 34px;
    width: 34px;
    border-radius: 6px;
    background-color: #f6f0eb;
    padding: 4px;
    border: 1px solid #d8cfc6;
}

.history .data-history {
    flex: 1;
    margin: 0 10px;
}

.data-history h4 {
    font-size: 15px;
    font-weight: 700;
    color: #4e3a2e;
}

.data-history p {
    font-size: 13px;
    font-weight: 500;
    color: #6d5847;
}

.history .datatime-history {
    font-size: 12px;
    font-weight: 800;
    color: #7e6655;
    text-align: center;
    width: 60px;
}
