html,
body {
    height: 100%;
}

.dashboard {
    height: 100%;
    display: flex;
    background-color: rgb(94, 8, 8);
}

/*HEADER*/
.sidebar {
    background-color: rgb(65, 30, 0);
    width: 274px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

.sidebar .logotipo {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 13px;
    margin-bottom: 60px;
    border-bottom: 3.5px solid white;
}

.logotipo img {
    height: 100%;
}

/* .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.profile .circle-profile {
    background-color: transparent;
    padding: 5px;
    border: 3.5px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.circle-profile .profile-img {
    height: 100%;
}

.profile h3 {
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-weight: 500;
    margin: 4px;
}

.profile p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
} */

.buttons-navegation {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.container-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigation-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid transparent;
    transition: transform 0.3s ease;
}

.navigation-item i {
    font-size: 18px;
}

.navigation-item p {
    font-weight: 500;
    font-size: 16px;
}

.navigation-item.active {
    background-color: #613400;
    border-left: 5px solid rgb(176, 147, 0);

}

.navigation-item:hover {
    background-color: #613400;
    border-left: 5px solid rgb(176, 147, 0);
    transform: scale(1.03);
}


/*DASHBOARD - HOME*/
.container-dashboard {
    flex: 1;
    background-color: white;
    border-radius: 12px 0px 0px 12px;
    padding: 30px;
    padding-top: 0;
}

.container-dashboard .header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid rgb(214, 214, 214);
    gap: 50px;
    margin-bottom: 20px;
}

.container-dashboard .container-searchBarGroup {
    display: flex;
    height: 100%;
    align-items: center;
}

.container-searchBarGroup i {
    font-size: 23px;
    margin: 0 10px;
    color: gray;
}

.container-searchBarGroup h3 {
    font-size: 23px;
    margin: 0 10px;
    font-weight: 600;
}
/* 
.container-searchBarGroup .container-search {
    width: 400px;
    background-color: rgb(219, 219, 219);
    margin: 0 20px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 1px 2px;
}

.container-search i {
    font-size: 16px;
    margin: 10px;
}

.container-search input{
    height: 27px;
    flex: 1;
    padding: 0 10px;
    border: none;
    border-radius: 0px 6px 6px 0px;
    font-weight: 500;
} */

.container-dashboard .container-actions {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.container-theme-dark-light {
    width: 80px;
    height: 26px;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid rgb(173, 173, 173);
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    transform: scale(0.8);
}

.container-theme-dark-light img {
    height: 94%;
    background-color: white;
    border-radius: 50%;
    margin-left: 2px;
}

.container-actions i {
    font-size: 18px;
    margin: 0 10px;
}

.container-actions span{
    font-size: 23px;
    margin: 0 10px;
}

.container-mini-profile {
    height: 100%;   
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-mini-profile img {
    height: 100%;
}
