.container-info-fermenter {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px;
  justify-content: center;
}

.todo-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card-fermenter {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  height: 250px;
  background: white;
  border-radius: 10px;
  border-top: rgb(62, 30, 10) solid 10px ;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  gap: 30px;
}

.card-fermenter:hover {
  transform: scale(1.02);
}

.card-fermenter .visual-lateral{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Lado esquerdo com imagem ou ícone */
.card-fermenter .visual {
  background: linear-gradient(to bottom, #a5e65a, #7ec850);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.card-fermenter .visual-lateral h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}


.card-fermenter .todo-container img {
  width: 100px;
  height: 160px;
  margin-left: 10px;
  object-fit: contain;
}

/* Lado direito com dados */
.card-fermenter .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-fermenter .visual-lateral .meta {
  font-size: 1rem;
  color: #b6b4b4;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-left: auto;
  margin-right: 20px;
}

.card-fermenter .info ul {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.card-fermenter .info ul li {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  gap: 8px;
  color: #484848;
  margin-bottom: 6px;
}

.card-fermenter .info ul li strong {
  font-weight: 500;
}

.card-fermenter .info .quantidade-fermentadoras .quantidade{
  display: flex;
  margin-top: 30px;
  gap: 45px;
  
}

.card-fermenter .button button {
  align-self: flex-start;
  width: 100%;
  height: 40px;
  align-items: center;
  background-color: #ca6b1d;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.card-fermenter.red .visual {
  background: linear-gradient(to bottom, #ff5e5e, #ff3d3d);
}

.card-fermenter.yellow .visual {
  background: linear-gradient(to bottom, #ffe082, #ffc107);
}

.card-fermenter.green .visual {
  display: flex;
  padding: 15px;
  border-radius: 50%;
  margin-left: 40px;
  background: linear-gradient(to bottom, #6ca52a, #7ec850);
}
